# See http://localhost:8000/exporter-user-guide/ for a list of all environment variables (settings).

# Run the command: `bbb-conf --secret`
# FQDN - Domain name onlylike: bbb.example.org
# API_SECRET - Secret value of the command output
# API_BASE_URL - stil can be used instead of FQDN, eg: https://bbb.example.org/bigbluebutton/api/

FQDN=<FIXME>
BIND_IP=127.0.0.1
PORT=9688
#DEBUG=true

# Requires access to /etc/bigbluebutton/bigbluebutton-release (only available on the BigBlueButton server itself)
# See https://bigbluebutton-exporter.greenstatic.dev/exporter-user-guide/#environment-variables for details. 
BBB_VERSION_READ_FROM_DISK=True

# Requires access to /var/bigbluebutton (only available on the BigBlueButton server itself)
# See https://bigbluebutton-exporter.greenstatic.dev/exporter-user-guide/#optimizations for details.
RECORDINGS_METRICS_READ_FROM_DISK=True